.place__image {
    width: 100%;
    order: 2;
}
@media screen and (max-width: 400px) {
    .place__image {
        max-width: 300px;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 12px;
    }
}
@media screen and (max-width: 320px) {
    .place__image {
        max-width: 320px;
        grid-template-columns: repeat(auto-fill, 320px);
    }
}