.lead__title {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    font-family: "Inter", Arial, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #FFF;
    line-height: 100px;
    font-size: 96px;
    display: block;
}

@media screen and (max-width: 692px) {
    .lead__title {
        max-width: 620px;
        font-size: 60px;
        line-height: 80px;
    }
}
@media screen and (max-width: 438px) {
    .lead__title {
        max-width: 400px;
        font-size: 40px;
        line-height: 48px;
    }
}
@media screen and (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        line-height: 44px;
    }
}