.lead__caption {
    max-width: 984px;
    margin-top: 8px;
    margin-bottom: 0;
    text-align: left;
    font-family: "Inter", Arial, "Times New Roman", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    line-height: 14px;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
@media screen and (max-width: 1024px) {
    .lead__caption {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .lead__caption {
        max-width: 720px;
        padding-left: 24px;
    }
}
@media screen and (max-width: 320px) {
    .lead__caption {
        max-width: 288px;
        padding-left: 16px;
    }
}