.footer__content {
    display: flex;
    padding-bottom: 0;
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0;
}

@media screen and (max-width: 586px) {
    .footer__content {
        flex-direction: column;
    }
}
