.page__footer {
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .page__footer {
        max-width: 928px;
    }
}
@media screen and (max-width: 768px) {
    .page__footer {
        max-width: 720px;
        padding-top: 88px;
    }
}
@media screen and (max-width: 556px) {
    .page__footer {
        flex-direction: column;
        padding-top: 64px;
        justify-content: flex-start;
        padding-left: 16px;
        max-width: 186px;
    }
}
@media screen and (max-width: 320px) {
    .page__footer {
        margin: 0;
    }
}